################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Demo/.vs
/Demo/WebTest/bin/Debug/net9.0
/Demo/WebTest/obj
/Demo/FaceMan.EFTest/bin/Debug/net9.0
/Demo/FaceMan.EFTest/obj
/Demo/FaceMan.WebTest/bin/Debug/net9.0
/Demo/FaceMan.WebTest/obj
/src/.vs
/src/FaceMan.EFTest/bin
/src/FaceMan.EFTest/obj
/src/FaceMan.WebTest/obj
/src/FaceMan.WebTest/bin
/src/FaceMan.Tools/bin/Debug/net9.0-windows
/src/FaceMan.Tools/obj
/src/Tools
